/* Header and Nav */
.header {
    text-align: center;
    padding: 2em;
}
.custom-nav {
    margin-left: auto;
    margin-right: 0;
}
.nav-sep {
    background-color: #37538C;
    width: 0.2em;
}
.nav-link {
    color: #29ABE2 !important;
}
.nav-link2 {
    color: #37538C !important;
}

/* Hero */
.custom-jumbo {
    text-align: center;
    background-image: url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 90em;
    background-position-y: center;
    color: #fff;
}


/* Main content flex container */
#container-flex {
    display: flex;
    justify-content: center;
}
#text {
    display: flex;
    flex-direction: column;
    width: 45vw;
}
#imgs {
    display: grid;
    grid-template-columns: 1fr 10px 1fr;
    grid-template-areas: 
        "img1 . img2"
        "img1 . img2"
        ".    . ."
        "img3 . img4"
        "img3 . img4"
    ;
}
#img1 {
    grid-area: img1;
}
#img2 {
    grid-area: img2;
}
#img3 {
    grid-area: img3;
}
#img4 {
    grid-area: img4;
}
.img-div {
    width: 20vw;
}
.get-img {
    width: 100%;
}

/* Footer */
.custom-footer {
    margin-top: 2em; 
    padding-bottom: 0em;
    margin-bottom: 0em;
}
#flex-footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#footer-nav {
    display: flex;
    flex-direction: column;
}
#social-icons img{
    width: 2em;
}
#copywrite {
    background-image: linear-gradient(to right, #29ABE2, #309CC4);
    text-align: right;
    padding-bottom: none;
    margin-bottom: none;
}